<!DOCTYPE html>
<html>
    <head>
        <title>White Sox at-bat Project</title>
        <script type="text/javascript" src="functions/functions.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>White Sox at-bat Project</h1>
        <video width="320" height="240" controls>
            <source src="img/zach_collins_atbat.mp4" type="video/mp4">
        </video>    
        <div id="information"></div>
        <script>
            returnData();
        </script>
    </body>
</html>